
body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: rgb(226, 213, 226);
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  font-size:30px;
  color:rgb(0, 0, 0);
  background-color: rgb(211, 210, 210);
  width:100%;
  height:8vh;
  letter-spacing: 5px; 
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}


.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height:20vh;
}

button{
  width:250px;
  border:none;
  height:40px;
  margin:20px;
  background-color: rgb(190, 185, 185);
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  
}  

input{
  width:500px;
  border:none;
  height:40px;
  margin:20px;
  background-color: silver;
  border-radius: 5px;
  font-size: medium;
 
  
}
a{
  text-decoration: none;
  color:rgb(110, 6, 6);
}

a:hover {
  text-decoration: underline;
  color:black;
}
ul{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:5px;
  padding: 5px;
  list-style: circle;
  
}

ul li{
  margin:7px;
  outline: none;
  text-decoration: none;
  border: none;
  font-size: 22px;
 


}